/* * {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
} */

.btn_one i {
  color: black;
  font-size: 1.5rem;
  position: absolute;
  left: 1.5rem;
  top: 1.25rem;
  cursor: pointer;
}

.btn_two i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.sidebar_menu {
  height: 100vh;
  width: 200px;
  position: fixed;
  background-color: gray;
  top: 0;
  left: -220px;
  transition: all 0.2s linear;
  z-index: 10;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  box-shadow: 2px 2px 8px rgba(39, 38, 38, 0.856);
}

.logo a {
  text-decoration: none;
  color: whitesmoke;
}

.menu li {
  margin-top: 10px;
  padding: 10px 20px;
}

.menu li:hover {
  box-shadow: 2px 2px 8px black;
}


.menu a {
  color: azure;
  text-decoration: none;
}

.menu li i {
  color: azure;
  padding-right: 4px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.social_media ul {
  position: absolute;
  bottom: 50px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.social_media ul a {
  font-size: 20px;
  color: whitesmoke;
}

.social_media ul a:hover {
  transform: scale(1.1);
  color: white;
}

#check {
  display: none;
}

#check:checked ~ .sidebar_menu {
  left: 0;
}

#check:checked ~ .btn_one i {
  opacity: 0;
}

/* map style */

.listing-map {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
 width: 20rem;
 height: 40vh;
}

/* map popup */

.map-popup {
  width: 20rem;
  height: 10vh;
  outline: none;
}

.map-popup:focus, .map-popup:focus-visible, .map-popup:focus-within {
  outline: none;
}

@media (min-width: 720px) {
  #map {
    width: 40rem;
    height: 35vh;
   }
  .listing-map {
    height: 60vh;
  }
}

@media (min-width: 1200px) {
  #map {
    width: 60rem;
    height: 50vh;
   }
}