.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar .layout-btn {
  cursor: pointer;
}

.navbar .layout-filled-btn {
  background-color: orange;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  border: none;
  cursor: pointer;
}

.navbar .orange {
  color: orange;
}

.navbar .black {
  color: black;
}

.navbar .red {
  color: red;
}

.navbar .layout-outline-btn {
  border: 1px solid orange;
  background-color: white;
  color: orange;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}