.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 50vh;
}

.auth-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.google-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.google-btn {
  width: 15rem;
  height: 3rem;
  border: none;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 2rem;
  cursor: pointer;
  background-color: #4285f4;
  color: white;
}

.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.auth-form input {
  width: 15rem;
  height: 3rem;
  border: none;
  font-size: 0.9rem;
  border-radius: 2rem;
  padding: 0 1rem;
  background-color: lightgray;
  color: black;
  font-weight: 600;
}

.auth-form input::placeholder {
  color: black;
}

.auth-form .btn {
  width: 17rem;
  height: 3rem;
  border: none;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 2rem;
  cursor: pointer;
  background-color: greenyellow;
}

h3 {
  text-align: center;
}

.auth-form input:focus {
  outline: none;
}